body {
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    color:#333;
}

#cabecera {
    background-color: rgb(29, 80, 219);
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    padding: 15px 10px;
    margin: 0;
}

#container {
    width: 70%;
    text-align: left;
    border: 1px solid #000;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#post{
    padding: 1em;
}

#tagline{
    margin-left: 20px;
    font-weight: 100;
    font-size: 18px;
}